
/* ========== Общие стили страниц ========== */
body{
	min-width: 400px;
	margin: 0px;
	padding: 0px;
	font-family: "Franklin Gothic Medium";
}
h2{
	text-align: left;
	margin-left: 40px;
}

/* ========== Стиль подвала ========== */
footer{
	text-align: center;
	padding: 30;
	background-color: #E9E9E7;
}
.foot{
	width: 65%;
	margin: auto;
	padding: 20px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 1em;
	background-color: #E9E9E7;
}

/* ========== Стиль шапки ========== */
header{
	font-family: "Impact";
	margin: 0em;
	padding: 0.5em;
	padding-top: 0;
	background-color: #2B70CA;
	box-shadow: 0 0 2em rgba(0,0,0,0.5);
}
.hed{
	display: flex;
	flex-wrap: wrap;
	margin-left: 7em;
}
.men{
	width: auto;
	height: 1.2em;
	background-color: #2B70CA;
}
.men a{
	display: block;
    height: 100%;
	color: white;
	padding: 1em;
	font-size: 1.5em;
	text-decoration: none;
	
}
.men:hover a{
	color: #265CA6;
	background-color: #F8F8F7;
	box-shadow: inset 0 0 0.1em rgba(1,1,1,1);
}
.men1{
	margin-top: 0.1em;
}

.logo{
	height: 3.5em;
}
.logo:hover{
	opacity: 0.8;
}
.index_sql{
	float: right;
	width: 15em;
}

/* ========== Стиль уроков ========== */
.lessContent{
	background-color: #F8F8F7;
	display: flex;
	justify-content: center;
	padding-top: 1.5em;
}
.container{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin:auto;
	justify-content: center;
	padding-bottom: 2em;
}
.less{
	width: 13em;
	height: 13em;
	box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
	background-color: white;
	margin: 0.8em;
	display: block;
	color: black;
	text-decoration: none;
}
.less:hover{
	opacity: 0.7;
}
.lessName{
	color: black;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.less p{
	padding-top: 0.8em;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	width: 10em
}
.less1{
	height: auto;
	padding-bottom: 0.8em;
	font-size: 1em;
}
#less1_code_php{
	
}
.disguise_block{
	width: 70%;
	margin: auto;
}
.generator{
	
}
/* ========== Стиль контента ========== */
.content{
	margin: auto;
	padding: 0;
	width: 70%;
}

.sintaksis{
	width: 50%;
	margin: auto;
}
.sintaksis li{
	margin: 0px;
	padding: 6px;
	color: #2B70CA;
}
.sintaksis li:hover a{
	color: #214683;
}

.zapros{
	margin: auto;
	width: 90%;
	padding: 5px;
}
.vid_zap{
	margin: 15px;
	background-color: #F2F7FD;
	padding: 8px;
	padding-left: 20px;
	color: black;
	border: 2px dashed #2B70CA;
	font-family: Courier New;
}
.hr_zagolovok{
	padding-bottom: 0.5em;
	padding-top: 0.6em;
	font-size: 3em;
	text-align: center;
	color: #2B70CA;
	text-shadow: 0 0.05em 0.1em rgba(0,0,0,0.25);
}

.strelka{
	width: 75px;
	float: right;
	position: fixed; /* Фиксированное положение */
    right: 10px; 
    top: 85%; 
    padding: 10px;
}
#strelka_block{
	position: absolute;
}

a{
	text-decoration: none; 
	color: #2B70CA;
	font-family: "Franklin Gothic Medium";
}
hr{
	color: #2B70CA;
    background-color: #2B70CA; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
}
p, table{
	font-family: Arial;
}
#zap{
	margin-top: 8px;
	font-size: 24px;
	padding: 5px;

}

/* ========== Стили подсказок ========== */
.podskazki{
	width: 350px;
	position: fixed;
	right: 10px;
	top: 24%; 
    padding: 5px;
	background-color: #2B70CA;
	color: white;
}
.podskazki_minus{
	width: 200px;
	position: fixed;
	right: -1000px;
	top: 30%; 
    padding: 5px;
	background-color: #2B70CA;
	color: white;
}
.podskazki a{
	float: right;
	padding-left: 5px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-top: 0px;
	color: white;
}
.podskazki  a:hover{
	background-color: white;
	color: #2B70CA;
}
#podskazki_text a:hover{
	background-color: #538ED0;
	color: white;
}

#podskazki_text{
	overflow: auto;
	max-height: 400px;
	margin-top: 5px;
	padding: 5px;
	background-color: white;
	color: black;
	font-size: 12px;
}

/* ========== Стили вкладок ========== */
.vkladki{
	list-style: none;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.vkladki li{
	display: inline;
	padding: 10px;
	background-color: #2B70CA;
	border-right: 2px solid #2B70CA;
	border-top: 2px solid #2B70CA;
	border-bottom: 2px solid #2B70CA;
}
.vkladki li:first-child{
	border-left: 2px solid #2B70CA;
}
.vkladki a{
	text-decoration: none; 
	color: white;
	font-size: 18px;
}
.vkladki li:hover{
	background-color: white;
}
.vkladki li:hover a{
	color: #265CA6;
}
#vkl_bd_plus {
	background-color: white;
	border-bottom: none;
}
#vkl_bd_plus a{
	color: #265CA6;
}
#vkl_dt_plus {
	background-color: white;
	border-bottom: none;
}
#vkl_dt_plus a{
	color: #265CA6;
}
#vkl_dp_plus {
	background-color: white;
	border-bottom: none;
}
#vkl_dp_plus a{
	color: #265CA6;
}

.vopros{
	position: relative;
	background-color:  #F2F7FD;
	margin: 5px;
	padding: 5px;
	padding-bottom: 1px;
	padding-top: 0px;
	padding-right: 6px;
	border: 1px solid #265CA6;
	border-radius: 10px;
}
.vopros:hover:after{
    background-color: #F2F7FD;
	border: 1px solid #2B70CA;
	font-family: Courier New;
    bottom: 26px;
    color: #265CA6;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 250px;
}

.forma{
	margin: auto;
	padding-top: 1px;
	width: 85%;
	min-height: 300px;
	background-color: white;
	margin-bottom: 15px;
}
/* ========== Позиционирование внутри вкладки ========== */
.bd_minus{
	position: absolute;
	margin-left: -1000px;
}
.bd_plus{
	position: absolute;
	margin: auto;
}

.dp_minus{
	position: absolute;
	margin-left: -1000px;
}
.dp_plus{
	position: absolute;
	margin: auto;
}
.dt_minus{
	position: absolute;
	margin-left: -1000px;
}
.dt_plus{
	position: absolute;
	margin: auto;
}

/* ========== Стили кнопок ========== */

.next{
	margin: auto;
	text-align: center;
	margin-bottom: 2em;
}
.button{
	width: 14em;
	height: 3em;
	font-size: 1.1em;
	background-color: #2B70CA;
	border: none;
	padding: 0;
}
.button a{
	display: block;
	color: white;
	padding-top: 0.9em;
    height: 70%;
	width:100%;
}
.button:hover{
	opacity: 0.8;
}

/* ========== Адаптив ========== */
@media screen and (min-width:1241px) and (max-width:9999px) {
	.content{
		width: 80%;
	}
}
@media screen and (min-width:1025px) and (max-width:1240px) {
	.content{
		width: 80%;
	}
	.sintaksis{
		width: 60%;
	}
}
@media screen and (min-width:886px) and (max-width:1024px) {
	.content{
		width: 80%;
	}
	.sintaksis{
		width: 70%;
	}
	body{
		font-size: 0.9em;
	}
}

@media screen and (min-width:661px) and (max-width:885px) {
	.content{
		width: 80%;
	}
	.sintaksis{
		width: 80%;
	}
	body{
		font-size: 0.8em;
	}
}
@media screen and (min-width:536px) and (max-width:660px) {
	.container{
		width:100%;
	}
	.content{
		width: 80%;
	}
	.sintaksis{
		width: 90%;
	}
	body{
		font-size: 0.7em;
	}
	.hed{
	margin-left: 5em;
	}
}
@media screen and (min-width:472px) and (max-width:535px) {
	.lessContent{
	width: 100%;
	}
	.container{
		width:100%;
	}
	.content{
		width: 80%;
	}
	.sintaksis{
		width: 90%;
	}
	body{
		font-size: 0.6em;
	}
	.hed{
	margin-left: 4em;
	}
}
@media screen and (min-width:400px) and (max-width:471px) {
	.container{
		width:100%;
	}
	.content{
		width: 80%;
	}
	.sintaksis{
		width: 100%;
	}
	body{
		font-size: 0.6em;
	}
	.hed{
	margin-left: 3em;
	}
}

/* ========== Шрифт для шапки ========== */
@font-face {
font-family: "Impact"; 
// адрес шрифта и тип 
src: url("../fonts/ofont.ru_Impact.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 